/************************ HEADER START ************************/

.header{
  color: #fff;
  font: 12px/26px 'latoregular';
  border-bottom: 1px solid #e2e2e2;
}
.header_top{
  background-color: #a7d321;
}
.header_link {
    display: inline-block;
    height: 14px;
}
a, a:focus, a:hover{
  color: inherit;
}
svg{
  width: 100%;
  height: 100%;
}
.footer_social_link:hover, a:hover svg{
  transform: scale(1.2);
}
.socials_svg {
  fill: #fff;
}
@media (max-width: 767px){
  .search{
    max-width: 400px;
    margin: auto;
  }
  .search_form {
    margin: 0;
  }
  .mainNav>div{
    margin: 0;
  }
  .mainNav_list {
    text-align: center;
  }
}

/************************ HEADER END ************************/

/************************ FOOTER START ************************/

.footer{
  background-color: #2b2b2b;
  color: #fff;
  font-family: 'latobold';
  padding: 27px 0;
}
.footer .copyright{
  font-size: 16px;
  line-height: 2;
}
.copyright p{
  font-family: 'latoblack';
}
.copyright em{
  font-family: 'latobold_italic';
  font-style: normal;
}
.table{
  margin: 0;
}
.table .table_cell{
  border-color: #3e3e3e;
  vertical-align: middle;
  padding: 30px 40px;
}
.copyright span{
  display: inline-block;
  opacity: .5;
  font: 14px/24px 'playfair_displayregular';
}
.footer_nav{
  letter-spacing: 3px;
  margin: 0;
}
li.footer_nav_elem{
  font-size: 12px;
  line-height: 33px;
  padding: 0;
}
.subscribe{
  padding: 6px 20px;
  width: 240px;
  height: initial;
}
.subscribe[placeholder]{
  font: 10px/26px 'latoregular'
}
.subscribe_label{
  font-size: 10px;
  line-height: 24px;
  margin-bottom: 13px;
}
.footer_socials{
  min-width: 150px;
  margin: 0;
}
.footer_social_link:not(:last-child){
  margin-right: 30px;
}
.footer_social_link{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px;
}
.footer_socials_svg{
  vertical-align: top;
}
@media (max-width: 1199px){
  .table .table_cell{
    padding: 20px;
  }
  .subscribe{
    width: 200px;
  }
}
@media (max-width: 991px){
  .table .table_cell{
    padding: 10px;
  }
  .footer_social_link:not(:last-child) {
      margin-right: 10px;
  }
  .footer_nav{
    text-align: center;
  }
  li.footer_nav_elem{
    line-height: 21px;
  }
  .footer_socials {
    min-width: 110px;
  }
  .subscribe {
    padding: 0 10px;
    width: 170px;
  }
}
@media (max-width: 767px){
  .footer{
    text-align: center;
  }
  .footer_social_link{
    display: inline-block;
  }
  .subscribe{
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
}

/************************ FOOTER END ************************/

/************************ CONTENT START ************************/
.containerMain{
  padding: 0;
  margin-top: 20px;
  min-height: calc(100vh - 26px - 222px);
}
.counter,.timePassed{
  font: 10px/32px 'latoregular';
  color: #aaa;
}
.counter::before,.timePassed::before{
  content: '';
  width: 11px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
}
.counter::before{
  background: url('../img/flag-icon.png') no-repeat center;
}
.timePassed::before{
  background: url('../img/calendar-icon.png') no-repeat center;
}
.counter_white,.timePassed_white{
  color: #fff;
}
.counter_white::before{
  background-image: url(../img/white-flag-icon.png);
}
.timePassed_white::before{
  background-image: url(../img/white-calendar-icon.png);
}
.title{
  font: 14px/22px 'latobold';
  color: #333;
  margin: 0;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 767px){
  .containerMain{
    margin-top: 0;
  }
}
/************** News Start **************/

.sectionDevider{
  border-top-width: 2px;
  margin-top: 25px;
  margin-bottom: 80px;
  position: relative;
}
.sectionDevider::before{
  padding: 7px 15px;
  display: inline-block;
  background-color: #eee;
  text-transform: uppercase;
  font: 10px/26px 'latobold';
  color: #333;
  letter-spacing: 2px;
  position: absolute;
  left: 0;
}
.sectionDevider_news::before{
  content: 'latest news';
}
.news_article{
  margin-bottom: 30px;
  display: flex;
}
.news_image{
  width: 360px;
  height: inherit;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.news_image_1{
  background-image: url(../img/21.jpg);
}
.news_image_2{
  background-image: url(../img/22.jpg);
}
.news_image_3{
  background-image: url(../img/23.jpg);
}
.news_text{
  flex:1;
  font: 13px/22px 'playfair_displayregular';
}
.sectionTitle{
  font: 10px/32px 'latobold';
  letter-spacing: 2px;
  color: #007fff;
  text-transform: uppercase;
}
.sectionTitle:hover a{
  text-decoration: none;
}
.sectionTitle:hover{
  color: #a7d321;
}
.news_title{
  font: 18px/22px 'latobold';
  margin: 7px 0;
}
.news_preview{
  color: #999;
  margin: 15px 0;
}
.news_author{
  color: #999;
}
.author_name{
  color: #333;
}
@media (max-width: 1199px){
  .news_article{
    margin-bottom: 20px;
  }
  .news_image{
    width: 300px;
    margin-right: 20px;
  }
}
/************** News End **************/

/************** Announce Start **************/

.sectionDevider_announce::before{
  content: 'Announcing'
}
.announce{
  padding-top: 20px;
}
.announce_image{
  width: 100%;
}
.announce_events{
  padding: 50px 0;
  display: flex;
}
.events_container{
  width: 50%;
}
.events_container:first-child{
  margin-right: 70px;
}
.event{
  font: 13px/22px 'playfair_displayregular';
  color: #999;
}
.event:not(:first-child){
  padding-top: 28px;
}
.event:not(:last-child){
  padding-bottom: 28px;
  border-bottom: 2px solid #eee;
}
.event_author{
  margin-bottom: 10px;
}
@media (max-width: 991px){
  .events_container:first-child {
    margin-right: 40px;
  }
}
@media (max-width: 767px){
  .announce{
    padding: 0;
  }
  .announce_events{
    display: block;
    padding: 0;
  }
  .events_container:first-child {
    margin-right: 0;
  }
  .events_container{
    width: 100%;
  }
  .event.event{
    padding: 0;
    border: none;
    margin-bottom: 15px;
  }
}

/************** Announce End **************/

/************** Navigation Start **************/

.header_bottom{
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo{
  font-size: 18px;
  line-height: 32px;
}
.logo_olive{
  font-family: 'latobold_italic';
  color: #a7d321;
}
.logo_magazine{
  font-family: 'latoblack';
  color: #354f20;
}
.logo_link:hover{
  text-decoration: none;
}
.mainNav_list{
  font: 14px/26px 'latobold';
  letter-spacing: 2px;
  color: #444;
  margin: 4px 0;
}
li.mainNav_item{
  padding: 0 15px;
}
.search_form{
  position: relative;
  height: 34px;
}
.search_icon{
  font-size: 20px;
  color: #444;
  position: absolute;
  right: 10px;
  top:50%;
  transform: translate(0, -50%);
}
.search_input{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-right: 40px;
  padding-left: 15px;
}
.search_input[placeholder]{
  font: 10px/26px 'latoregular';
  color: #555;
}
.showSaerch,.search_input{
  display: none;
}
.showSaerch:checked~.search_input{
  display: inline-block;
}
.showSaerch:checked~.search_icon{
  color: #ccc;
}
@media (max-width: 991px){
  li.mainNav_item{
    padding: 0 5px;
  }
}

/************** Navigation End **************/

/************** Pre-views Start **************/

.pre-view_container>div:not(:nth-last-child(3n+1)){
  padding-right: 0;
}
.carousel-inner{
  height: 350px;
}
.carousel-indicators{
  font-size: 0;
  bottom: 0;
  padding: 12px 0;
  width: calc(100% - 60px);
  left: 30px;
  margin-left: 0;
  margin-bottom: 0;
  border-top: 1px solid #fff;
}
.carousel-indicators li{
  width: 6px;
  height: 6px;
  margin: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-indicators .active{
  width: 6px;
  height: 6px;
  margin: 5px;
  background-color: #bbb;
}
.carousel-control{
  bottom: 13px;
  top: initial;
  width: 14px;
  opacity: 1;
  font-size: 0;
  z-index: 20;
}
.carousel-control.left, .carousel-control.right{
  background-image: none;
}
.carousel-control .glyphicon-chevron-right,.carousel-control .glyphicon-chevron-left{
  font-size: 14px;
  position: static;
  width: initial;
  height: initial;
  margin: 0;
}
.carousel-control.right{
  right: 50px;
}
.carousel-control.left{
  left: 50px;
}
.item{
  height: 100%;
}
.slide_image{
  margin: auto;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption{
  top: 0;
  left: 0;
  right: initial;
  bottom: initial;
  width: 100%;
  height: 100%;
  padding: 80px 100px;
  text-align: left;
  background-color: rgba(0,0,0,.3);
}
.carousel_title{
  font: 30px/40px 'latobold';
  margin: 0;
}

.pre-view_container .sectionTitle{
  color: #a7d321;
}
.pre-view_container .sectionTitle:hover{
  color: #007fff;
}
.pre-view,.slider{
  margin-bottom: 15px;
}
.pre-view{
  height: 350px;
}
.pre_view_text_1{
  border: 1px solid #e2e2e2;
  border-top: none;
  padding: 20px;
}
.pre_view_title_1{
  font: 14px/22px 'latobold';
  color: #333;
  margin: 0;
}
.pre_view_title_2{
  font: 24px/32px 'latobold';
  margin-top: 36px;
  margin-bottom: 22px;
}
.pre_view_1_imageConainer{
  height: 230px;
  background: url('../img/3.jpg') no-repeat center;
}
.pre_view_1_text{
  height: calc(100% - 230px);
}
.pre_view_2{
  display: block;
  height: 100%;
  background-color: #000;
  position: relative;
  text-align: center;
}
.pre_view_2::after{
  position: absolute;
  content: "";
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/5.jpg') no-repeat center;
}
.pre_view_2_text{
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 20px;
  color: #fff;
}
.smallLine{
  width: 22px;
  margin: 0 auto;
}
.pre_view_2_description{
  font: 14px/22px 'playfair_displayregular';
  color: #d9d9d9;
  margin-bottom: 50px;
}
.pre_view_3_imageConainer{
  height: 155px;
  background: url('../img/6.jpg') no-repeat center;
}
.pre_view_3_text{
  height: calc(100% - 155px);
}
.pre_view_3_description{
  font: 13px/22px 'playfair_displayregular';
  color: #999;
  margin-top: 12px;
}
.pre_view_4{
  color: #fff;
  background-color: #a7d321;
  text-align: center;
  padding: 20px 30px;
  height: 100%;
}
.pre_view_4_description{
  font: 14px/22px 'playfair_displayregular';
  margin-bottom: 30px;
}
.pre_view_4 .sectionTitle{
  color: #fff;
}
@media (max-width: 1199px){
  .carousel-inner,.pre-view{
    height: 300px;
  }
  .carousel-caption{
    padding: 50px 70px;
  }
  .pre_view_1_imageConainer{
    height: 190px;
  }
  .pre_view_text_1 {
    padding: 12px;
  }
  .pre_view_1_text{
    height: calc(100% - 190px);
  }
  .pre_view_title_2{
    margin: 15px 0;
  }
  .pre_view_2_description{
    margin-bottom: 30px;
  }
  .pre_view_3_imageConainer{
    height: 125px;
  }
  .pre_view_3_text{
    height: calc(100% - 125px);
  }
  .pre_view_4{
    padding: 15px;
  }
  .pre_view_4_description{
    margin-bottom: 10px;
  }
}

/************** Pre-views End **************/

/************************ CONTENT END ************************/

/************************ SIDEBAR START ************************/

.sidebar{
  padding: 0;
}
.topNews{
  border: 1px solid #e2e2e2;
  padding: 23px;
  padding-top: 67px;
  position: relative;
}
.topNews::before{
  content: 'top news';
  text-transform: uppercase;
  font: 10px/26px 'latobold';
  color: #333;
  letter-spacing: 2px;
  position: absolute;
  padding-left: 20px;
  left: 0;
  top: 20px;
  background: url(../img/news-flag-icon.png) no-repeat left center;
}
.topNews_news{
  border-bottom: 1px solid #eee;
  padding: 0 4px 10px 4px;
}
.topNews_image{
  width: calc(100% + 8px);
  margin: 0 -4px;
 }
.topNews_title{
  margin-top: 20px;
}
.info{
  margin-left: -4px;
  margin-top: 5px;
}
.sidebar_image{
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}
.facebookPlagin{
  margin-top: 20px;
}
.twitterPlagin{
  margin-top: 45px;
}
.bestOils{
  width: 100%;
  height: 300px;
  border: 1px solid #e2e2e2;
  display: block;
  background: url(../img/24.jpg) no-repeat center bottom;
  background-size: cover;
  margin-top: 15px;
}
.bestOils:hover{
  transform: none;
}
@media (max-width: 1199px){
  .topNews{
    padding: 15px;
    padding-top: 50px;
  }
  .topNews::before{
    top: 15px;
  }
}


/************************ SIDEBAR END ************************/
