/************************ HEADER START ************************/

.header{
  background-color: #a7d321;
  color: #fff;
  font: 12px/26px 'latoregular';
}
.headnav{
  margin: 0;
}
a, a:focus, a:hover{
  color: inherit;
}
svg{
  width: 100%;
  height: 100%;
}
a:hover, a:hover svg{
  transform: scale(1.2);
}
.socials_svg {
  fill: #fff;
}

/************************ HEADER END ************************/

/************************ FOOTER START ************************/

.footer{
  background-color: #2b2b2b;
  color: #fff;
  font-family: 'latobold';
  padding: 27px 0;
}
.footer .copyright{
  font-size: 16px;
  line-height: 2;
}
.copyright p{
  font-family: 'latoblack';
}
.copyright em{
  font-family: 'latobold_italic';
  font-style: normal;
}
.table{
  margin: 0;
}
.table .table_cell{
  border-color: #3e3e3e;
  vertical-align: middle;
  padding: 30px 40px;
}
.copyright span{
  display: inline-block;
  opacity: .5;
  font: 14px/24px 'playfair_displayregular';
}
.footer_nav{
  letter-spacing: 3px;
  margin: 0;
}
li.footer_nav_elem{
  font-size: 12px;
  line-height: 33px;
  padding: 0;
}
.subscribe{
  padding: 6px 20px;
  width: 240px;
  height: initial;
}
.subscribe[placeholder]{
  font: 10px/26px 'latoregular'
}
.subscribe_label{
  font-size: 10px;
  line-height: 24px;
  margin-bottom: 13px;
}
.footer_socials{
  min-width: 150px;
  margin: 0;
}
.footer_social_link:not(:last-child){
  margin-right: 30px;
}
.footer_social_link{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px;
}
.footer_socials_svg{
  vertical-align: top;
}

/************************ FOOTER END ************************/

/************************ CONTENT START ************************/
.containerMain{
  padding: 0;
  min-height: calc(100vh - 26px - 222px);
}
.counter,.timePassed{
  font: 10px/32px 'latoregular';
  color: #aaa;
}
.counter::before,.timePassed::before{
  content: '';
  width: 11px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
}
.counter::before{
  background: url('../img/flag-icon.png') no-repeat center;
}
.timePassed::before{
  background: url('../img/calendar-icon.png') no-repeat center;
}
.title{
  font: 14px/22px 'latobold';
  color: #333;
  margin: 0;
}

/************** News Start **************/

hr{
  border-top-width: 2px;
  margin-top: 40px;
  margin-bottom: 80px;
}
hr::before{
  content: 'latest news';
  padding: 7px 15px;
  display: inline-block;
  background-color: #eee;
  text-transform: uppercase;
  font: 10px/26px 'latobold';
  color: #333;
  letter-spacing: 2px;
}
.news_article{
  margin-bottom: 30px;
  display: flex;
}
.news_image{
  width: 360px;
  height: inherit;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.news_image_1{
  background-image: url(../img/21.jpg);
}
.news_image_2{
  background-image: url(../img/22.jpg);
}
.news_image_3{
  background-image: url(../img/23.jpg);
}
.news_text{
  flex:1;
  font: 13px/22px 'playfair_displayregular';
}
.news_article_header{
  font-size: 10px;
  line-height: 32px;
}
.sectionTitle{
  font-family: 'latobold';
  letter-spacing: 2px;
  color: #007fff;
}
.sectionTitle:hover a{
  text-decoration: none;
}
.sectionTitle:hover{
  color: #a7d321;
}
.news_title{
  font: 18px/22px 'latobold';
  margin: 7px 0;
}
.news_preview{
  color: #999;
  margin: 15px 0;
}
.news_author{
  color: #999;
}
.author_name{
  color: #333;
}

/************** News End **************/

/************** Announce Start **************/

.announce{
  padding-top: 20px;
}
.announce_image{
  width: 100%;
}
.announce_events{
  padding: 50px 0;
  display: flex;
}
.events_container{
  width: 50%;
}
.events_container:first-child{
  margin-right: 70px;
}
.event{
  font: 13px/22px 'playfair_displayregular';
  color: #999;
}
.event:not(:first-child){
  padding-top: 28px;
}
.event:not(:last-child){
  padding-bottom: 28px;
  border-bottom: 2px solid #eee;
}
.event_author{
  margin-bottom: 10px;
}

/************** Announce End **************/

/************************ CONTENT END ************************/

/************************ SIDEBAR START ************************/

.sidebar{
  padding: 0;
}
.topNews{
  border: 1px solid #e2e2e2;
  padding: 23px;
}
.topNews_news{
  border-bottom: 1px solid #eee;
  padding: 0 4px 10px 4px;
}
.topNews_title{
  margin-top: 20px;
}
.info{
  margin-left: -4px;
  margin-top: 5px;
}
/************************ SIDEBAR END ************************/
